@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my MVC College App</h1>
    <p>
        </br><h2>Explore:</h2></br>
        <h3><a asp-area="" asp-controller="Students" asp-action="Index">Students</a></h3></br>
        <h3><a asp-area="" asp-controller="Teachers" asp-action="Index">Teachers</a></h3></br>
        <h3><a asp-area="" asp-controller="Courses" asp-action="Index">Courses</a></h3></br>
        <h3><a asp-area="" asp-controller="Enrollments" asp-action="Index">Enrollments</a></h3></br>
</p>
</div>
